{% extends 'base.html.twig' %}

{% block title %}Modifier Appartement{% endblock %}

{% block body %}
    <div class="heritage-pattern">
        <h1><i class="fas fa-edit"></i> Modifier l'Appartement</h1>
    </div>

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <i class="fas fa-home"></i> Détails de l'Appartement
                    </div>
                    <div class="card-body">
                        {{ include('appartment/_form.html.twig', {'button_label': 'Mettre à Jour'}) }}
                    </div>
                </div>

                <div class="mt-4">
                    <a href="{{ path('app_appartment_index') }}" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Retour à la Liste
                    </a>
                </div>

                <div class="mt-3">
                    {{ include('appartment/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
